---
import { Image } from "astro:assets";
import Post from "../components/Post.astro";
import PostSection from "../components/Section.astro";
import purpleTile from "../images/tilemaker/tile-purple.png";
import homeTile from "../images/tilemaker/tile-home.png";
import tileGallery from "../images/tilemaker/tile-gallery.png";
import Layout from "../layouts/Layout.astro";
---

<Layout title="TileMaker">
    <Post title="TileMaker" date="Oct 5, 2022">
        <PostSection>
            <div class="flex justify-center">
                <div class="m-4 max-w-2xl">
                    <Image src={purpleTile} alt="Purple and blue tile" />
                </div>
            </div>
            <p>
                TileMaker is the first thing functioning web application I ever
                built. A last minute application to a coding bootcamp, I
                constructed this app from start to finish in two days, over
                christmas, while visiting my parents.
            </p>
            <div class="flex justify-center">
                <div class="m-4 max-w-2xl">
                    <Image src={homeTile} alt="Purple and blue tile" />
                </div>
            </div>
            <p>
                Built using basic HTML, CSS, and (poorly understood) Javascipt,
                along with extensive googling, it allows for users to design a
                tile (rectangle) with varying rotation, color, size, and
                background colors. The resultant tile is then repeated 3x3 on a
                canvas element, with an option to save individual
                &apos;mosaics&apos; using the browser&apos;s localStorage. This
                simple recipe gives rise to lots of interesting designs.
            </p>
            <div class="flex justify-center">
                <div class="m-4 max-w-2xl">
                    <Image src={tileGallery} alt="Purple and blue tile" />
                </div>
            </div>
            <p>
                Later, I deployed the site to Github pages, where it{" "}
                <a href="https://www.brendansmith.dev/tilemaker"
                    >lives to this day</a
                >.
            </p>
            <p>
                I really enjoy looking back on this project, and marveling at
                how far I've come on my journey as a developer in such a
                relatively short period of time. This project felt expansive in
                its possibility at the time, and was a definitey cayalyst for my
                getting more serious about pursiing software developement.
            </p>
            <p>Plus, it's still fun to try and design the *perfect* tile.</p>
        </PostSection>
    </Post>
</Layout>
