---
const { title } = Astro.props;
---

<section class="mb-20">
    {title && <h2 class="mb-2 mt-6 text-2xl font-light">{title}</h2>}
    <div class="space-y-4 sm:ml-4">
        <slot />
    </div>
</section>
