---

---

<footer class="text-sm space-x-2 flex justify-center opacity-80 my-2">
    <p>
        © {new Date().getFullYear()} Brendan Smith
    </p>
    <p>|</p>
    <a class="" href="/colophon" class="text-xs opacity-50">Colophon</a>
</footer>
