---
import type { MarkdownLayoutProps } from "astro";
type Props = MarkdownLayoutProps<{
    title: string;
    date?: string;
}>;

const { frontmatter } = Astro.props;
import "../global.css";
import Post from "../components/Post.astro";
import { ViewTransitions } from "astro:transitions";
import "@fontsource/atkinson-hyperlegible";
import SiteFooter from "../components/siteFooter.astro";
---

<html>
    <head>
        <title>{frontmatter.title} | Brendan Smith</title>
        <ViewTransitions />
    </head>
    <body class="min-h-screen flex flex-col">
        <Post
            title={frontmatter.title}
            date={frontmatter.date &&
                new Date(frontmatter.date).toLocaleDateString(undefined, {
                    year: "numeric",
                    month: "short",
                    day: "numeric",
                })}
        >
            <article
                class="prose prose-lg mx-auto max-w-3xl leading-normal prose-indigo dark:prose-invert prose-a:no-underline prose-a:text-indigo-500 dark:prose-a:text-indigo-400"
            >
                <slot />
            </article>
        </Post>
        <SiteFooter />
    </body>
</html>
